@variant dark (&:where(.dark, .dark *));

@variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

@plugin "../heroicons.tailwind.plugin.js";
@plugin "@tailwindcss/typography";

@source "../js/**/*.js";
@source "../../lib/juntos_web.ex";
@source "../../lib/juntos_web/**/*.*ex";

@import "tailwindcss" source("../..");

@import "./color.css";
.animated {
    @apply ease-in-out duration-300;
}


body {
  background: var(--color-bg-neutral-secondary);
}

.tiptap {
  color: var(--color-text-neutral-primary);
}

.tiptap * {
  color: inherit;
}

.tiptap pre  {
  background-color: var(--color-bg-neutral-secondary);
}
