@layer base {
  :root {
    --color-bg-neutral-primary: var(--color-white);
    --color-bg-neutral-primary-hover: var(--color-slate-100);
    --color-bg-neutral-primary-inverse: var(--color-neutral-900);
    --color-bg-neutral-primary-inverse-hover: var(--color-neutral-800);
    --color-bg-neutral-secondary: var(--color-slate-50);
    --color-bg-neutral-secondary-hover: var(--color-slate-50);
    --color-bg-neutral-secondary-inverse: var(--color-neutral-800);
    --color-bg-neutral-secondary-inverse-hover: var(--color-neutral-700);
    --color-bg-neutral-tertiary: var(--color-white);
    --color-bg-neutral-tertiary-hover: var(--color-slate-100);
    --color-bg-accent-brand: var(--color-violet-700);
    --color-bg-accent-brand-hover: var(--color-violet-600);
    --color-bg-accent-brand-muted: var(--color-violet-200);
    --color-bg-accent-brand-muted-hover: var(--color-violet-50);
    --color-bg-status-success: var(--color-lime-50);
    --color-bg-status-success-hover: var(--color-lime-100);
    --color-bg-status-error: var(--color-rose-50);
    --color-bg-status-error-hover: var(--color-rose-100);
    --color-bg-status-info: var(--color-sky-50);
    --color-bg-status-info-hover: var(--color-sky-100);
    --color-bg-status-warning: var(--color-amber-50);
    --color-bg-status-warning-hover: var(--color-amber-100);
    --color-bg-status-disabled: var(--color-neutral-100);


    --color-bg-translucent-dark: var(--color-slate-500);
    --color-bg-translucent-light: var(--color-slate-50);
    --color-bg-translucent-brand: var(--color-violet-700);

    --color-border-neutral-primary: var(--color-slate-200);
    --color-border-neutral-secondary: var(--color-slate-400);
    --color-border-neutral-secondary-focused: var(--color-slate-500);
    --color-border-accent-brand: var(--color-violet-800);
    --color-border-status-error: var(--color-rose-700);
    --color-border-statue-disabled: var(--color-neutral-300);
    --color-border-line: var(--color-slate-200);

    --color-text-neutral-primary: var(--color-slate-900);
    --color-text-neutral-primary-placeholder: var(--color-slate-500);
    --color-text-neutral-primary-inverse: var(--color-slate-200);
    --color-text-neutral-secondary: var(--color-slate-500);
    --color-text-neutral-tertiary: var(--color-slate-400);
    --color-text-accent-brand: var(--color-violet-800);
    --color-text-status-error: var(--color-rose-700);
    --color-text-status-disabled: var(--color-neutral-400);
    --color-text-status-success: var(--color-lime-600);

    --color-ever-white: var(--color-white);
    --color-ever-black: var(--color-black);
  }

  .dark {
    --color-bg-neutral-primary: var(--color-neutral-800);
    --color-bg-neutral-primary-hover: var(--color-neutral-800);
    --color-bg-neutral-primary-inverse: var(--color-neutral-200);
    --color-bg-neutral-primary-inverse-hover: var(--color-neutral-100);
    --color-bg-neutral-secondary: var(--color-neutral-900);
    --color-bg-neutral-secondary-hover: var(--color-neutral-700);
    --color-bg-neutral-secondary-inverse: var(--color-neutral-300);
    --color-bg-neutral-secondary-inverse-hover: var(--color-neutral-200);
    --color-bg-neutral-tertiary: var(--color-black);
    --color-bg-neutral-tertiary-hover: var(--color-neutral-800);
    --color-bg-accent-brand: var(--color-violet-500);
    --color-bg-accent-brand-hover: var(--color-violet-400);
    --color-bg-accent-brand-muted: var(--color-violet-950);
    --color-bg-accent-brand-muted-hover: var(--color-violet-900);
    --color-bg-status-success: var(--color-lime-900);
    --color-bg-status-success-hover: var(--color-lime-800);
    --color-bg-status-error: var(--color-rose-900);
    --color-bg-status-error-hover: var(--color-rose-800);
    --color-bg-status-info: var(--color-sky-900);
    --color-bg-status-info-hover: var(--color-sky-800);
    --color-bg-status-warning: var(--color-amber-900);
    --color-bg-status-warning-hover: var(--color-amber-800);
    --color-bg-status-disabled: var(--color-neutral-700);

    --color-border-neutral-primary: var(--color-slate-800);
    --color-border-neutral-secondary: var(--color-slate-600);
    --color-border-neutral-secondary-focused: var(--color-slate-500);
    --color-border-accent-brand: var(--color-violet-400);
    --color-border-status-error: var(--color-rose-500);
    --color-border-statue-disabled: var(--color-neutral-700);
    --color-border-line: var(--color-slate-600);

    --color-text-neutral-primary: var(--color-slate-200);
    --color-text-neutral-primary-placeholder: var(--color-slate-400);
    --color-text-neutral-primary-inverse: var(--color-slate-900);
    --color-text-neutral-secondary: var(--color-slate-400);
    --color-text-neutral-tertiary: var(--color-slate-500);
    --color-text-accent-brand: var(--color-violet-400);
    --color-text-status-error: var(--color-rose-500);
    --color-text-status-disabled: var(--color-neutral-800);
    --color-text-status-success: var(--color-lime-400);
  }
}

@layer base {
  .bg-neutral-primary {
    background-color: var(--color-bg-neutral-primary);
  }

  .bg-neutral-secondary {
    background-color: var(--color-bg-neutral-secondary);
  }

  .bg-neutral-tertiary {
    background-color: var(--color-bg-neutral-tertiary);
  }

  .border-neutral-primary {
    border-color: var(--color-border-neutral-primary);
  }

  .border-line {
    border-color: var(--color-border-line);
  }


  .border-accent-brand {
    border-color: var(--color-border-accent-brand);
  }

  .border-neutral-secondary {
    border-color: var(--color-border-neutral-secondary);
    @variant focus {
      border-color: var(--color-border-neutral-secondary-focused);
    }
  }

  .text-neutral-primary {
    color: var(--color-text-neutral-primary);
    @variant placeholder {
      color: var(--color-text-neutral-primary-placeholder);
    }
  }

  .text-neutral-secondary {
    color: var(--color-text-neutral-secondary);
  }

  .text-accent-brand {
    color: var(--color-text-accent-brand);
  }
}

